<app-detalle-etapa-modal style="position: absolute;" #content></app-detalle-etapa-modal>


<div hidden class="col row m-4" style="position: absolute">
  <div class="col-md-3">
    <img src="/assets/user.png" class="image" />
    <label class="gui-info">Nombre del Jugador</label>
  </div>
  <div class="col-md-3">
    <img src="/assets/points.png" class="image" />
    <label class="gui-info">1500</label>
  </div>
  <div class="col-md-3">
    <img src="/assets/stage.png" class="image" />
    <label class="gui-info">3/8</label>
  </div>
  <div class="col-md-3">
    <img src="/assets/leaderboard.png" class="image" />
    <label class="gui-info">37 th</label>
  </div>
</div>
